/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --grey-border-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #000000;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.little-h2-title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.euro {
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Top Menu ***********/
.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 79px;
}

.top-menu img {
    height: 19px;
    object-fit: contain;
    margin-top: 30px;
}

.top-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    gap: 68px;
    margin: 0;
    padding-left: 50px;
}

.top-menu li {
    padding-top: 14px;
    border-top: 2px solid transparent;
}

.top-menu li:hover {
    border-top: 2px solid var(--main-color);
}

/****** Header ***********/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header-title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 53px;
}

form {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
}

form i.fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: black;
    width: 50px;
    height: 100%;
    flex-shrink: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input {
    font: inherit;
}

form input[type="search"] {
    border: none;
    outline: none;
    height: 100%;
    width: 195px;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
    text-align: center;
}

form input[type="submit"] {
    border: none;
    box-sizing: border-box;
    padding: 14px 16px 14px 16px;
    background-color: var(--main-color);
    color: white;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 50px;
    align-items: center;
    width: fit-content;
}

.filter-button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border: 2px solid var(--grey-border-color);
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

.filter-button i.fa-solid {
    font-size: 22px;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 24px;
}

.info-container i.fa-solid {
    width: 24px;
    height: 24px;
    border: 1px solid var(--grey-border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements a {
    width: calc((100% - 60px) / 3);
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.hebergements img {
    width: 100%;
    height: 114px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.hebergements .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    width: 100%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    box-sizing: border-box;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires .card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activités ***********/

.activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.activites-cards a {
    width: calc((100% - 90px) / 4);
    height: 439px;
    border: none;
    border-radius: 20px;
}

.activites-cards .card {
    padding: 0;
}

.activites img {
    width: 100%;
    height: 380px;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}

.activites .card-content {
    height: 100%;
    padding: 20px 19px 20px 19px;
    box-sizing: border-box;
}

/******* Footer ***********/

.footer-menu {
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
}

.footer-menu article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% / 3);
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
