/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --grey-border-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #000000;
}

a {
    color: inherit;
    text-decoration: none;
}

.h4-sized-title{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #000000;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.little-h2-title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.euro {
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.card img {
    object-fit: cover;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Top Menu ***********/
.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 79px;
}

.top-menu img {
    height: 19px;
    object-fit: contain;
    margin-top: 30px;
}

.top-menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    gap: 68px;
    margin: 0;
    padding-left: 50px;
}

.top-menu-item {
    border-top: 2px solid transparent;
}

.top-menu-item a {
    display: flex;
    padding-top: 14px;
}

.top-menu-item:hover {
    border-top: 2px solid var(--main-color);
}

/****** Header ***********/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header-title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 53px;
}

form {
    display: flex;
    flex-direction: row;
    max-width: 377px;
    height: 49px;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
}

form > i.fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: black;
    border: 1px solid var(--main-bg-color);
    width: 50px;
    height: 100%;
    flex-shrink: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}

.search-form{
    position: relative;
}

form input[type="text"] {
    border: none;
    outline: none;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    border: 1px solid var(--main-bg-color);
}

form button[type="submit"] {
    border: none;
    box-sizing: border-box;
    padding: 14px 16px 14px 16px;
    background-color: var(--main-color);
    color: white;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid var(--main-color);
}

form > button > i.fa-solid {
    display: none;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: fit-content;
}

.filter-button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border: 2px solid var(--grey-border-color);
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

.filter-button i.fa-solid {
    font-size: 22px;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info-container i.fa-solid {
    width: 24px;
    height: 24px;
    border: 1px solid var(--grey-border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    box-sizing: border-box;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements a {
    width: calc((100% - 60px) / 3);
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.hebergements img {
    width: 100%;
    height: 114px;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.hebergements .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
    margin-top: 4px;
}

.hebergements .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 10px 0 10px;
    margin-bottom: 6px;
    width: 100%;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    box-sizing: border-box;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires .card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activités ***********/

.activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.activites .section-title {
    line-height: 1.36;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.activites-cards a {
    width: calc((100% - 90px) / 4);
    border: none;
    border-radius: 20px;
}

.activites-cards .card {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.activites img {
    width: 100%;
    height: 380px;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.activites .card-content {
    flex: 1;
    padding: 20px 19px 20px 19px;
    box-sizing: border-box;
}

.truncate{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-activite{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/******* Footer ***********/

.footer-menu {
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
}

.footer-menu article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% / 3);
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .truncate-tablet{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .truncate-activite{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: wrap;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements .card-content {
        margin-bottom: 9.25px;
    }

    .populaires {
        width: 100%;
        gap: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 33%;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filter-button {
        font-size: 16px;
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .activites img {
        height: 200px;
    }

    .activites .card-content {
        flex: none;
        height: 70px;
        display: flex;
        align-items: center;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    html,
    body {
        width: 100%;
    }

    body {
        align-items: stretch;
    }

    .main-container {
        padding: 0;
        width: 100%;
        max-width: none;
        min-width: 320px;
        gap: 30px;
    }

    main {
        gap: 35px;
    }

    .filter-button {
        font-size: 14px;
    }

    .top-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .top-menu img {
        margin: 0;
        padding: 30px;
    }

    .top-menu-list {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
        gap: 0;
    }

    .top-menu-item {
        flex: 1;
        text-align: center;
        padding-top: 0;
        box-sizing: border-box;
        border-top: none;
        border-bottom: 2px solid transparent;
    }

    .top-menu-item {
        flex: 1;
        text-align: center;
        padding-top: 0;
        box-sizing: border-box;
        border-top: none;
        border-bottom: 2px solid transparent;
    }

    .top-menu-item a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 15px;
        padding-top: 0;
    }

    .top-menu-item:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    header {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .header-title-container {
        height: auto;
    }

    form {
        width: calc(100% - 8px);
        max-width: 100%;
    }

    form > input[type="text"]{
        border-right: none;
    }

    form > button > i.fa-solid {
        display: flex;
        color: white;
    }

    form > button > span {
        display: none;
    }

    form > button {
        padding: 15px 16px;
        width: 49px;
        border-radius: 15px;
        border: 1px solid var(--main-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-left: -8px;
    }

    .filter {
        width: 100%;
    }

    .filter-button-container {
        flex-wrap: wrap;
        gap: 20px 10px;
        width: 100%;
    }

    .filter-button {
        flex: 0 0 calc(50% - 5px);
        width: calc(50% - 5px);
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
        width: 100%;
    }

    .hebergements,
    .populaires {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        padding: 20px;
        gap: 15px;
    }

    .hebergements-and-populaires .populaires {
        padding: 30px 20px;
        gap: 15px;
    }

    .hebergements-cards,
    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .hebergements a {
        width: 100%;
    }

    .hebergements .card-rating {
        height: 18.25px;
        line-height: 1;
        font-size: 18.25px;
        display: flex;
        align-items: center;
    }
    
    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites {
        padding: 30px;
        gap: 30px;
        width: 100%;
        box-sizing: border-box;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards a {
        width: 100%;
    }

    .activites-cards img {
        height: 141px;
    }

    .activites-cards .card-content {
        height: auto;
    }

    .footer-menu {
        flex-direction: column;
        width: 100%;
        padding: 30px;
        gap: 50px;
        box-sizing: border-box;
    }

    .footer-menu article {
        width: 100%;
        padding: 0;
        gap: 15px;
    }
}
