/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --border-color: #d9d9d9;
}

html {
    scroll-behavior: smooth;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

.hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    gap: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Mon code ***********/

/* Top menu */
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 79px;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-self: center;
    height: 19px;
}

.top-menu {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.top-menu ul {
    display: flex;
    flex-direction: row;
    gap: 68px;
    list-style: none;
    height: 100%;
}

.top-menu ul li {
    border-top: 2px solid transparent;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.top-menu ul li:hover {
    cursor: auto;
    border-top: 2px solid var(--main-color);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}

/* Section search-section */

.search-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}

.search-section-headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 53px;
    gap: 8px;
}

.search-section-paragraph {
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.search-section-search-bar {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 49px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.search-section-search-bar i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    flex-shrink: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid var(--main-bg-color);
    color: #000000;
    background-color: var(--main-bg-color);
}

.search-section-search-bar input[type="search"] {
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.search-section-search-bar input[type="submit"] {
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid var(--main-color);
    color: white;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    background-color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
}

.search-section-filter-bar {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;
    border-radius: 25px;
    border: 2px solid var(--border-color);
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-size: 17px;
}

.filter-button i {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 22px;
    height: 22px;
}

.filter-button:hover {
    cursor: pointer;
    background-color: var(--filter-bg-color);
}

.search-section-info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.search-section-info-bar i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    color: var(--main-color);
    border-radius: 12px;
    font-size: 14px;
}

/* Hebergement section */
.hebergement-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}

.hebergement-cards a {
    flex: 1;
    display: flex;
}

.hebergement-cards .card {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 20px;
    gap: 0;
    padding-bottom: 15px;
}

.hebergement-cards img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    border: 1px solid white;
    box-sizing: border-box;
}

.hebergements p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.hebergements h2 {
    font-size: 16px;
    font-weight: 700;
}

/*Section Activités*/

.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.activites-cards a {
    flex: 1;
    display: flex;
}

.activites-cards .card {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 439px;
    border-radius: 20px;
    padding: 0;
}

.activites-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    box-sizing: border-box;
}

.activites-cards .card-content {
    width: 100%;
    padding: 20px 19px 20px 19px;
    gap: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
}

.activites-cards .card-title {
    margin: 0;
}

/* Footer */
footer {
    width: 100%;
    background-color: var(--main-bg-color);
}

.footer-menu {
    display: flex;
    flex-direction: row;
}

.footer-menu-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    flex: 1;
}

.footer-menu-title {
    margin: 0;
    font-size: 18px;
}

.footer-menu-column ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    gap: 15px;
    padding: 0;
    margin: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .search-section-filter-bar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .search-section-filter-bar p {
        margin: 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        min-width: 320px;
    }
}
